[submodule "converter/ai-studio"]
	path = converter/ai-studio
	url = https://github.com/AfterThink/google-ai-studio-json-converter
[submodule "converter/cherry"]
	path = converter/cherry
	url = https://github.com/AfterThink/cherry-studio-backup-json-converter
[submodule "converter/qwen"]
	path = converter/qwen
	url = https://github.com/AfterThink/qwen-json-converter
